*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#button{
    margin: 40px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: green;
    font-weight: 600;
    border: 2px solid yellow;
    border-radius: 20px;
}
button:haver{
    background-color: gold;
    color: blueviolet;
}